<head>
    <h3>Menu</h3>
    <nav class="menu">
        <a href="/index" class="menu-item">Dashboard</a>
        <a href="/subjects" class="menu-item">Subjects</a>
        <a href="/assignments" class="menu-item">Assignments</a>
        <a href="/exams" class="menu-item">Exams</a>
        <a href="/classes" class="menu-item">Classes</a>
    </nav>
</head>