<head>
    <aside class="sidebar">
        <a href="/index">Canvas Buddy</a>
        <nav>
            
                <li><a href="/subjects">Subjects</a></li>
                <li><a href="/assignments">Assignments</a></li>
                <li><a href="/exams">Exams</a></li>
                <li><a href="/classes">Classes</a></li>
            </nav>
    </aside>
    
</head>