<div class="wrapper register-page">
    <div class="form-box">
    <h2>How to Generate Canvas token</h2>
    <p>To manually generate a token for testing:
    <ol>
        <li>Click the "profile" link in the top right menu bar, or navigate to /profile</li><br/>
        <li>Under the "Approved Integrations" section, click the button to generate a new access token.</li><br/>
        <li>Once the token is generated, copy it. You cannot view it again, and you'll have to generate a new token if you forget it.</li><br/>
    </ol>
    
    <div class="secondary-text"> 
        <a href="/register">Back to Register</a>
    </div>
</div>
</div>