<h1>Welcome to Canvas Buddy</h1>
<ul>
    <li><h2><a href="/subjects">Subjects</a></h2></li>
    <li><h2><a href="/assignments">Assignments</a></h2></li>
    <li><h2><a href="/exams">Exams</a></h2></li>
    <li><h2><a href="/classes">Classes</a></h2></li>
</ul>
