<div class="dashboard">
    <h1 class="dashboard-title">Dashboard</h1>
    <div class="dashboard-list">
        <h2><a href="/subjects"><div><ion-icon name="book"></ion-icon></div><span>Subjects</span></a></h2>
        <h2><a href="/assignments"><div><ion-icon name="pencil"></ion-icon></div><span>Assignments</span></a></h2>
        <h2><a href="/exams"><div><ion-icon name="newspaper"></ion-icon></div><span>Exams</span></a></h2>
        <h2><a href="/classes"><div><ion-icon name="laptop"></ion-icon></div><span>Classes</span></a></h2>
    </div>
</div>
