:root{
    --color-base-hue: 280;
    --color-btn-base-hue: 279;
    --color-danger-hue-offset:180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue),100%,10%);
    --color-background-light: hsl(var(--color-base-hue),100%,20%);
    --color-text: rgba(255, 255, 255, 0.818);
    --color-btn-primary-dark: hsl(var(--color-btn-base-hue),100%,10%);
    --color-btn-primary-light: hsl(var(--color-btn-base-hue),100%,20%);
}

.dashboard{
    position: fixed;
    left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.dashboard-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}*/


.dashboard-list{
    margin: 50px auto;
    width:400px;
    height:400px;
    display:grid;
    grid-template-columns: 600px 600px;
    grid-row: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.dashboard-title{
    position: fixed;
    top: 1px;
    left: 750px;
    font-size: 2.5rem;
}

.dashboard h2{
    padding: 100px;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 2px;
    transition: all 0.2s ease-in-out;
    height: 5px;
}

.dashboard h2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.dashboard h2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}


.dashboard h2:hover span {
    padding-right: 20px;
}


.dashboard h2:hover span:after {
    opacity: 1;
    right: 0;
}

/*.dashboard h2:hover {
    transform: scale(1.1);
  }*/

.dashboard a{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .dashboard{
        position: relative;
    }
    .dashboard h2{
        padding: 20px;
        font-size: 1rem;
    }
}